header {
    font-size: 18px;
    font-weight: bold;
    height: 30px;
    vertical-align: middle;
}

body {
    font-size: 16px;
    margin: 0px;
}

button {
    font-size: 120%;
    font-weight: bold;
}

a:link,
a:visited,
a:hover,
a:active {
    color: black;
    text-decoration: none;
    border-bottom: 2px solid #FFDD40;
}

.leaflet-popup-content {
    font-size: 14px !important;
}

.author {
    font-size: 12px;
    font-weight: normal;
}

.info {
    border: solid 1px;
    border-radius: 4px;
    background-color: white;
    color: black;
    font-size: 16px;
    opacity: 0.9;
    overflow-y: hidden;
    overflow-x: hidden;
    max-height: 30vh;
    max-width: 50vw;
}

.details {
    background-color: white;
    color: black;
    display: flex;
    flex-shrink: 0;
    font-size: 14px;
    height: 25vh;
    opacity: 1;
}

div.mapid {
    width: 100vw;
    height: calc(75vh - 30px);
}

div.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.dtpicker {
    border: 1px solid;
    overflow: hidden;
    font-size: 14px;
    font-weight: normal;
    padding: 2px;
    margin: 2px 2px 4px 2px;
}

#comments {
    line-height: 2em;
    padding: 4px;
}

#comments span {
    font-weight: bold;
}

#mappers {
    flex-wrap: wrap;
    flex-shrink: 0;
    width: fit-content;
    border: solid 1px;
    border-radius: 4px;
    padding: 4px;
    white-space: nowrap;
    overflow-y: auto;
    overflow-x: hidden;
}

#mappers div {
    cursor: pointer
}

#comments {
    border: solid 1px;
    border-radius: 4px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%
}

div.selected {
    background-color: #bbddff;
}