body {
    background-color: #222233;
    color: #cccccc;
    font-size: 16px;
    margin: 0px;
}

header span {
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    height: 30px;
    vertical-align: middle;
    text-decoration: underline;
}

a,
.leaflet-container a {
    color: #eeeeff;
}

a:link,
a:visited,
a:active,
a:hover {
    text-decoration: underline;
}

button {
    font-size: 120%;
    font-weight: bold;
}

.button_right {
    text-align: right;
}

.leaflet-popup-content {
    font-size: 14px !important;
}

.author {
    font-size: 12px;
    font-weight: normal;
}

.info {
    background-color: rgba(0, 0, 32, 0.5);
    border: solid 1px;
    border-radius: 4px;
    font-size: 16px;
    opacity: 0.9;
    overflow-y: hidden;
    overflow-x: hidden;
    max-height: 30vh;
    max-width: 50vw;
}

.details {
    display: flex;
    flex-shrink: 0;
    font-size: 14px;
    height: 25vh;
    opacity: 1;
}

div.mapid {
    width: 100vw;
    height: calc(75vh - 30px);
}

div.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

div.date {
    display: flex;
}

span.date {
    width: 20%;
}

.leaflet-control-attribution {
    color: #dddddd;
    background-color: rgba(0, 0, 0, 0.4) !important
}

.leaflet-container {
    color: #dddddd;
    background-color: rgba(0, 0, 24, 0.7) !important
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
    color: #dddddd;
    background-color: rgba(0, 0, 24, 0.7) !important
}

.dtpicker {
    color: #dddddd;
    background-color: rgba(0, 0, 24, 0.7);
    border: 1px solid;
    overflow: hidden;
    font-size: 14px;
    font-weight: normal;
    padding: 2px;
    margin: 2px 2px 4px 2px;
}

#mappers {
    color: #dddddd;
    background-color: #222233;
    flex-wrap: wrap;
    flex-shrink: 0;
    width: fit-content;
    border: solid 1px;
    border-radius: 4px;
    padding: 4px;
    white-space: nowrap;
    overflow-y: auto;
    overflow-x: hidden;
}

#mappers div {
    color: #8888aa;
    cursor: pointer
}

div.selected {
    color: #eeeeee !important;
}

#comments {
    color: #dddddd;
    background-color: #222233;
    line-height: 2em;
    padding: 4px;
    border: solid 1px;
    border-radius: 4px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%
}

#comments span {
    font-weight: bold;
}